@import "./reset.css";

main {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 10px;
}

.one {
    background-color: green;
}
.two {
    background-color: red;
}
.three {
    background-color: blue;
}

img {
    width: 175px;
    height: 175px;
}

p {
    font-size: 2rem;
    color: white;
}
